.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  height: 120px;
  background-color: black;
}

.pipoca-icon {
  max-width: 80px;
}

.cabecalho-titulo {
  color: white;
}
